.container {
  padding: 20rpx;
}

.search-bar {
  margin-bottom: 20rpx;
  padding: 10px 10px 10px 20px ;
  background-color: #fff;
  border-radius: 16rpx;
  border: 2px solid #185ce4;
  box-shadow: 0 4rpx 12rpx rgba(0, 0, 0, 0.05);
  display: flex;
  align-items: center;
  input {
    width: 100%;
    font-size: 30rpx;
    border: none;
  }
}

.masonry {
  display: flex;
  justify-content: space-between;
}

.column {
  width: 48%;
}

.loading-text {
  text-align: center;
  color: #888;
  padding: 20rpx 0;
  font-size: 28rpx;
}
